<% include header %>

<br/>
<p>Hello, <%= user.username %> </p>
<p>Your token is <%= user.sessionToken %> </p>

<form method="post" action="../logout">
    <input type="hidden" name="id" value="<%= user.objectId %>">
    <input type="hidden" name="token" value="<%= user.sessionToken %>">
    <button type="submit" value="logout">
</form>

<% include footer %>
